body {
    font-family: $font-family;
    font-weight: 600;
    font-size:  21px;
    color: #000;
}

a,
button,
input,
textarea,
svg * {
    
    transition-duration: var(--transition-duraction);
}

a {
    text-decoration: none;
    color: inherit;
}