@import 'fonts',
        'normalize',
        'media',
        'variables',
        'utils',
        'mixins',
        'global';
        
*{
    box-sizing: border-box
}

body{
    display: flex;
}

.header{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 287px;
    padding: 8px 21px;
    background: rgba(0, 119, 255, 0.15);
}

.nav{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;

    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-top: 20px;
        text-transform: none;
    }

    &__item{
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 5px 6px;
        cursor: pointer;

        img{
            width: 15px;
            height: 15px;
        }
    }
}

.main{
    flex-grow: 2;

    &__list{
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 15px;
        width: 100%;
        height: 53px;
        padding-inline: 78px;
        box-shadow: 0 0 137px 0 rgba(0, 0, 0, 0.14);
        background: #fff;
    }

    &__nav-wrapper{
        display: flex;
        align-items: center;
        column-gap: 5px;
    }

    &__avatar{
        width: 19px;
        height: 19px;
    }

    &__bus-text{
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
    }

    &__avatar-text{
        font-weight: 400;
        font-size: 14px;
        color: #494949;
    }

    &__tittle-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 21px 78px;
        margin-block: 19px 45px;
    }

    &__tittle{
        font-size: 22px;
        color: #494949;
    }

    &__way-wrapper{
        display: flex;
    }

    &__way{
        font-weight: 400;
        font-size: 15px;
        color: #494949;

        &:last-child{
            color: #9b9b9b;
        }
    }
}


.table{
    box-sizing: content-box;
    border-spacing: 0;
    border-color: transparent;
    font-family: $third-family; 

    th{
        padding-block: 15px 12px;

        &:first-child{
            padding-inline: 50px;
        }
    }

    td{
        padding-block: 21px 18px;
    }

    &__head{
        font-weight: 600;
        font-size: 17px;
        color: #fefefe;
        background: #2a3042;
    }

    &__text{
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        color: #575757;
    }

    &__actions{
        display: flex;
        justify-content: center;
        column-gap: 17px;
    }

    &__action{
        box-sizing: content-box;
        display: flex;
        column-gap: 4px;
        align-items: center;
        padding: 8px 9px;
        background-color: #007bff;
        outline: 0;
        border: 0;
        border-radius: 35px;
        font-family: $third-family;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
    }
}

.main-section{
    display: flex;
    flex-direction: column;
    max-width: 1077px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
    background: #fffdfd;

    &__tittle{
        font-size: 21px;
    }

    &__nav-table{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    &__search-box{
        display: flex;
        align-items: center;
        width: 409px;
        height: 41px;
        border-radius: 36px;
        background: #f0f0f0;
    }

    &__search{
        height: 100%;
        flex-grow: 1;
        border: 0;
        outline: 0;
        padding: 0;
        background-color: transparent;
        padding-right: 10px;
        font-weight: 400;
        font-size: 12px;
        color: #2a3042;

        &::placeholder{
            font-weight: 400;
            font-size: 12px;
            color: #2a3042;
        }
    }

    &__img{
        box-sizing: content-box;
        height: 21px;
        width: 21px;
        padding: 11px;
        background: url('../icons/Search.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        outline: none;
        cursor: pointer;
    }

    &__pages-box{
        height: 45px;
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 52px;
        text-transform: none;
        padding-inline: 51px;
        background: transparent;
    }

    &__pages-showbox{
        font-family: $third-family;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: #787878;
        
        &::after{
            content: '';
            position: relative;
            border: 4px solid transparent;
            border-top: 7px solid #6e6893;
            top: 11px;
            left: 11px;
        }
    }

    &__number-box{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $third-family;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: #787878;
    }

    &__arrow-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65px;
    }
}

.arrow{
    border: solid #787878;
    border-width: 0 3px 3px 0;
    border-radius: 1px;
    display: inline-block;
    padding: 4px;
    cursor: pointer;

    &--right{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    &--left{
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}